* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 100%;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 290px);
  flex-wrap: wrap;
  overflow-y: scroll;
}
